@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,300&display=swap");
* {
  font-family: 'poppins', sans-serif;
}

body {
  background-color: #343a40 !important;
  color: white;
}

.list .card {
  width: 250px;
  background-color: #181717;
}

.list .card img {
  width: 250px;
}

.movie-detail img {
  width: 600px;
}
/*# sourceMappingURL=app.css.map */